/* Standard Theme (Juni 2014) 
   Author: Andreas Harstad
*/

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html,body{height:100%}
#header {display: none;}
#container, html.embed {background-color: transparent;}
.wufoo, body {font: 100%/1.5em "Helvetia", "Arial", sans-serif;color: #4b4b4b;}

/* Modules / Reset
---------------------------------------------------------------- */

.wufoo textarea.textarea {padding: 10px;}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
    background: transparent;
    border: none;
    border-bottom: 1px dashed #F9F8F7;
    font-size: 1rem;
    outline: none;
    padding: 10px;
    transition: .1s;
}

textarea, form input[type=text], input[type=tel], input[type=email]{
	background: #302d2e;
	color: white;
	padding: 10px 50px;
	border: none;
	border-radius: 5px;
	font-size: 90%!important;
	transition: .1s;
	text-transform: uppercase;
	height: 40px;
}
form input[type=submit]:hover {
    background: #C7A165;
}

form input[type=submit]{
    background: #E1BA7D;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
}
.wufoo input.btTxt {
    background: #E1BA7D;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
}
form li.buttons {padding: 0;}
form li .datepicker {height: 30px;width: 30px;}
form li.leftHalf, form li.rightHalf, .wufoo li {width: 100%!important;}
.wufoo li.focused{background-color: transparent;}
input.medium, select.medium{width: 100%!important;}

.wufoo li.focused label.desc, .wufoo li.focused legend.desc, .wufoo li.focused div, .wufoo li.focused span, .wufoo li.focused div label, .wufoo li.focused span label, .safari .wufoo li.focused input.file, .wufoo label.desc, .wufoo legend.desc {
    color: #FFFFFF;
}
.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
    font-family: inherit;
    color: #FFFFFF;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 100%;
}
/* Errors / Reset
---------------------------------------------------------------- */
#errorMsg {display: none;}
#errorMsgLbl{font-size: 80%;}
#errorLi {
	margin: 15px auto 15px auto;
	background: #fff !important;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 20px;
	border-radius: 5px;
	border: 0px solid red;
}
form li.error { 
	background-color: transparent !important;
	margin-bottom: 0px !important;
}
form li{padding: 10px 0;}
form li.section h3{font-size: 16px!important;margin: 10px 0;padding: 10px 0;}

/* Responsiveness / Reset
---------------------------------------------------------------- */


@media screen and (max-width: 500px) {
#container {top: 0;}
.leftLabel .desc {float: none;width: 100%;}
li.threeColumns div span {width: 100%; margin: 0 5px 10px 0px;}
form li.leftHalf, form li.rightHalf, .wufoo li {width: 100%!important;}
span#cal104 {clear: both;}
form li .datepicker {height: 20px;width: 20px;}
input.medium, select.medium{width: 100%!important;}




}